:root {
  --primary: #ffffff;
  --primary-a50: rgba(255, 255, 255, 0.5);
  --primary-a25: rgba(255, 255, 255, 0.25);
  --primary-a12p5: rgba(255, 255, 255, 0.125);
  --secondary: #2F3037;
  --tertiarty: #26272C;
  --accent-pink: #FF7B79;
  --accent-blue: #17BEBB;


  --navbar-width: 80px;


  --roundness: 0.25rem;


  --transition-opacity-fast: opacity 125ms ease-in-out;


  --animation-pulse: pulse 4s ease-in-out infinite;
}