@use 'Assets/fonts/Rubik';
@use 'glovalVars';
@use 'basic';


:root {
    color-scheme: dark;
    background-color: var(--tertiarty);
    color: var(--primary);
    font-family: 'Rubik', sans-serif;
}

body {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    opacity: 1;
    //transition: opacity 500ms ease;
}

.hide {
    opacity: 0;
    pointer-events: none;
    user-select: none;

    &-immediate {
        @extend .hide;
        transition-duration: 0ms;
        animation-duration: 0ms;
    }
}

.remove {
    display: none !important;
}

.outline-hidden {
    outline: none !important;
}

.nowrap {
    white-space: nowrap;
}

#app {
    height: 100%;
    width: 100%;
    &:has(> :nth-child(1):last-child) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:has(> :nth-child(2):last-child) {
        display: grid;
        grid-template-columns: var(--navbar-width) auto;
    }
    
    &:has(> :nth-child(3):last-child) {
        display: grid;
        grid-template-columns: var(--navbar-width) 12fr 29rem;
    }

    &:has(> .loader) {
        & > :not(.loader) {
            display: none;
        }
    }
}

@keyframes pulse {
    0%, 25%, 100% {
        background-color: var(--primary-a12p5);
    }
    75% {
        background-color: var(--primary-a50);
    }

}

