@use 'Assets/fonts/Rubik';
@use 'glovalVars';
@use 'basic';


:root {
    color-scheme: dark;
    background-color: var(--tertiarty);
    color: var(--primary);
    font-family: 'Rubik', sans-serif;
}

body {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    opacity: 1;
    //transition: opacity 500ms ease;
}

.hide {
    opacity: 0;
    pointer-events: none;
    user-select: none;

    &-immediate {
        @extend .hide;
        transition-duration: 0ms;
        animation-duration: 0ms;
    }
}

.outline-hidden {
    outline: none !important;
}

#app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--navbar-width) 12fr minmax(var(--navbar-width), 5fr);
}

