@use 'fonts/Rubik';
@use 'basic';


:root {
    color-scheme: dark;
    background-color: #191919;
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show {
    opacity: 1;
    //transition: opacity 500ms ease;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.player {
    --frame-max-width: 960px;
    --frame-max-height: calc(var(--frame-max-width) / 16 * 9);
    --gap: 0.5rem;
    --rondness: 0.25rem;
    --player-grid-template-cols: minmax(60px, 120px) minmax(320px, var(--frame-max-width)) minmax(60px, 120px);

    display: grid;
    grid-template-columns: var(--player-grid-template-cols);
    grid-template-rows: min-content minmax(180px, var(--frame-max-height));
    grid-template-areas:
        ". t ."
        "l m r";
}

.player-top-section {
    grid-area: t;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
    align-items: flex-end;
}

.current-ep-label {
    font-size: 1.75rem;
    display: flex;
    gap: 1rem;
    align-items: flex-end;

    & > .current-ep-watched {
        color:rgba(255, 255, 255, 0.5);
        font-size: 0.75rem;
        padding: 0.25rem 0;
    }
}

.player-select {


    border-radius: var(--rondness);
    font-size: 1.125rem;
    font-weight: normal;

    background-color: #303030;
}

.player-iframe {
    grid-area: m;
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: var(--rondness);
    z-index: 10;

    &:empty {
        background-color: #272727;
    }
}

.player-left-section {
    grid-area: l;

    &::before {
        right: -100%;
    }
}

.player-right-section {
    grid-area: r;

    &::before {
        left: -100%;
    }
}

.player-right-section,
.player-left-section {
    color: rgba(255, 255, 255, 0.5);
    transition: color 500ms ease, opacity 500ms ease;
    font-size: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:is(:hover, :focus-visible) {
        color: white;
    }

    & > .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        outline: none !important;

        &  > .hint {
            opacity: 0;
            transition: opacity 500ms ease 0ms;
            font-size: 0.75rem;
            padding: 1rem;
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50%;
        }
    }
}

@media (min-width: 480px) {
    :is(.player-right-section, .player-left-section):hover > .wrapper > .hint {
        opacity: 1;
        transition-delay: 1000ms;
    }
}