.container {
  z-index: 999999;
  position: absolute;
  inset: 0;
  background-color: var(--tertiarty);
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.fullscreen {
    position: fixed;
  }
}

.logo {
  width: max(6rem, 8vmax);
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 50% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}