.animePage {
  --frame-max-width: 960px;
  --frame-max-height: calc(var(--frame-max-width) / 16 * 9);

  width: 100%;
  display: grid;
  grid-template-columns: var(--main3cols-grid-template-cols);
  grid-auto-rows: min-content;
  gap: 1rem 0;

  & > * {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: var(--main3cols-grid-template-cols);
  }
}