.description {


}

.posterAndDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 1rem;


  & .img {
    border-radius: var(--rondness);
    max-width: 225px;
    width: 100%;
    grid-column: span 5;
    aspect-ratio: 225/338;
    object-fit: cover;
    overflow: hidden;
  }

  & .details {
    grid-column: span 6;
  }
}