.animePage {
  --frame-max-width: 960px;
  --frame-max-height: calc(var(--frame-max-width) / 16 * 9);
  --player-grid-template-cols: minmax(80px, 1fr) minmax(400px, 7fr) minmax(80px, 1fr);

  width: 100%;
  display: grid;
  grid-template-columns: var(--player-grid-template-cols);
  grid-auto-rows: min-content;
  gap: 1rem 0;

  & > * {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: var(--player-grid-template-cols);
  }
}