.player {
  --gap: 0.5rem;

  grid-column: 1/4;
  display: grid;
  grid-template-columns: var(--player-grid-template-cols);
  grid-template-rows: min-content minmax(180px, auto);
  grid-template-areas:
        ". t ."
        "l m r";
}

.topSection {
  grid-area: t;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
  align-items: flex-end;
}

.currentEpLabel {
  font-size: 1.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: stretch;

  & > .currentEpWatched {
    color: var(--primary-a50);
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    font-size: 0.75rem;
    padding: 0.25rem;

    & > svg {
      opacity: 0;
      transition: opacity 100ms ease;
    }

    &:hover > svg {
      opacity: 1;
    }
  }
}

.currentStudioLabel {
  font-size: 1.125rem;
  color: var(--primary-a50);
  margin-left: auto;
  margin-right: 0.75rem;
  line-height: 1;
  padding: 0.625rem 0 0.375rem 0;
}

.playerSelect {
  border-radius: var(--rondness);
  font-size: 1.125rem;
  font-weight: normal;
  background-color: var(--secondary);
  --max-options-heigth: var(--frame-max-height);
}

.playerIframe {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: var(--rondness);
}

.middleSection {
  grid-area: m;
  aspect-ratio: 16/9;
  display: flex;
  overflow: hidden;
  border-radius: var(--rondness);
  background-color: var(--primary-a12p5);
  margin: 1px;

  &.loading {
    animation: var(--animation-pulse);
  }

  &.loading > iframe {
    opacity: 0;
    pointer-events: none;
  }
  &.loaded > iframe {
    transition: var(--transition-opacity-fast);
    transition-delay: 100ms;
    opacity: 1;
  }

  &:is(:focus-visible, :focus, :focus-within) {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.leftSection {
  grid-area: l;

  &::before {
    right: -100%;
  }
}

.rightSection {
  grid-area: r;

  &::before {
    left: -100%;
  }
}

.rightSection,
.leftSection {
  color: var(--primary-a50);
  width: 100%;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-property: color, opacity;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--rondness);

  &:is(:hover, :focus-visible) {
    color: var(--primary);
    background-color: #ffffff07;
    box-shadow: 0 0 0.25rem 0 #ffffff07;
  }

  & > .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    outline: none !important;

    &  > .hint {
      opacity: 0;
      transition: opacity 500ms ease 0ms;
      font-size: 0.75rem;
      padding: 1rem;
      color: var(--primary-a50);
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
    }
  }
}

@media (min-width: 480px) {
  :is(.rightSection, .leftSection):is(:hover, :focus-visible) > .wrapper > .hint {
    opacity: 1;
    transition-delay: 1000ms;
  }
}