
.fakeText {
  color: transparent;
  max-width: min-content;
  pointer-events: none;
  display: block;
  border-radius: var(--roundess, 0.25rem);
  animation: var(--animation-pulse);
  overflow: hidden;
  text-overflow: ellipsis;
}
