
.fakeText {
  color: transparent !important;
  max-width: min-content;
  pointer-events: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  user-select: none;
  
  &::after {
    content: '';
    animation: var(--animation-pulse);
    border-radius: var(--roundess, 0.25rem);

    position: absolute;
    inset: 0;
    top: 0.2em;
  }
}
