.container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.loading {
  display: none;
}

.placeholder {
  position: absolute;
  inset: 0;
  background-color: red;
  animation: var(--animation-pulse);
  opacity: 1;
  transition: var(--transition-opacity-fast);
}

.hide {
  opacity: 0;
}