.player {
  --frame-max-width: 960px;
  --frame-max-height: calc(var(--frame-max-width) / 16 * 9);
  --gap: 0.5rem;
  --rondness: 0.25rem;
  --player-grid-template-cols: minmax(60px, 120px) minmax(320px, var(--frame-max-width)) minmax(60px, 120px);

  display: grid;
  grid-template-columns: var(--player-grid-template-cols);
  grid-template-rows: min-content minmax(180px, auto);
  grid-template-areas:
        ". t ."
        "l m r";
}

.topSection {
  grid-area: t;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
  align-items: flex-end;
}

.currentEpLabel {
  font-size: 1.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: stretch;

  & > .currentEpWatched {
    color:rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    font-size: 0.75rem;
    padding: 0.25rem;

    & > svg {
      opacity: 0;
      transition: opacity 100ms ease;
    }

    &:hover > svg {
      opacity: 1;
    }
  }
}

.currentStudioLabel {
  font-size: 1.125rem;
  color:rgba(255, 255, 255, 0.5);
  margin-left: auto;
  margin-right: 0.75rem;
  line-height: 1;
  padding: 0.625rem 0 0.375rem 0;
}

.playerSelect {
  border-radius: var(--rondness);
  font-size: 1.125rem;
  font-weight: normal;
  background-color: #303030;
}

.playerIframe {
  grid-area: m;
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: var(--rondness);
}

.leftSection {
  grid-area: l;

  &::before {
    right: -100%;
  }
}

.rightSection {
  grid-area: r;

  &::before {
    left: -100%;
  }
}

.rightSection,
.leftSection {
  color: rgba(255, 255, 255, 0.5);
  transition: color 500ms ease, opacity 500ms ease;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &:is(:hover, :focus-visible) {
    color: white;
  }

  & > .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    outline: none !important;

    &  > .hint {
      opacity: 0;
      transition: opacity 500ms ease 0ms;
      font-size: 0.75rem;
      padding: 1rem;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
    }
  }
}

@media (min-width: 480px) {
  :is(.rightSection, .leftSection):hover > .wrapper > .hint {
    opacity: 1;
    transition-delay: 1000ms;
  }
}