.headerContainer {
  background-color: var(--secondary);
  width: var(--navbar-width);
  border-right: 2px solid var(--primary-a12p5);

}

.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.navItem {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  outline-offset: -0.125rem;
  transition: color 125ms ease-in-out, box-shadow 250ms ease-in-out;
  color: var(--primary-a50);
  position: relative;
  box-shadow: transparent 2px 0;

  &.active {
    box-shadow: var(--primary-a50) 2px 0 ;
    margin-right: -2px;
    pointer-events: none;
  }
  
  &.external {
    cursor: alias;
  }

  &[data-label]::after {
    font-size: 0.75em;
    content: attr(data-label);
    position: absolute;
    bottom: 0.25rem;
    text-align: center;
    width: 100%;
  }

  &:is(:hover, :focus-visible) {
    color: var(--primary);

    & > img {
      filter: grayscale(0);
    }
  }

  & > img {
    transition: filter 125ms ease-in-out;
    filter: grayscale(0.5);
  }

  & > svg {
    font-size: 2rem;
  }
  &.smaller > svg {
    font-size: 1.75rem;
  }

  &.bottom {
    margin-top: auto;
  }
}

img.radish {
  max-width: 2.125rem;
  max-height: 2.125rem;
  margin-left: 8px;
  margin-bottom: 4px;
}

img.avatar {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 4px;
  margin-bottom: 4px;
}