.categoryPage {
  display: grid;
  grid-template-columns: var(--main3cols-grid-template-cols);
  
  & > * {
    grid-column: 2/2;
  }
}

.storylist {
  padding-block: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: start;
}

.pagesNav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: max(1rem, 5%);

  h1 {
    font-size: 1.125rem;
    flex-shrink: 0;
    font-weight: 600;
    align-self: end;
    padding: 1rem 0;
  }
}